.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  margin-top: 50px;
  .card {
    margin: 20px;
    .settings {
      display: grid;
      grid-template-columns: max-content max-content;
      grid-gap: 5px;
      width: 100%;
      label {
        text-align: right;
        font-weight: bolder;
        &::after {
          content: ":";
        }
      }
      p {
        text-align: left;
      }
    }
  }
}

.searchComponent {
  margin-top: 60px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
}
