.avlContainer {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 35%;
  .settings {
    margin-top: 20px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 15px;

    label {
      text-align: right;
      font-weight: bolder;
    }
    p {
      text-align: left;
    }
  }
}
